POSTGRES_DB=fieldops
POSTGRES_USER=fieldops
POSTGRES_PASSWORD=fieldops_dev_password
POSTGRES_PORT=5432
ConnectionStrings__FieldOps=Host=localhost;Port=5432;Database=fieldops;Username=fieldops;Password=fieldops_dev_password
